<div class="container">
    <a class="arrow" href="#inicio"></a>
</div>

<footer class="footer">
  <section class="footer__section">
        <nav>
            <ul>
                <li><a href="https://adalab.es/" class="li">Zapatillas</a></li>
                 <li><a href="https://adalab.es/" class="li">Ropa</a></li>
                 <li><a href="https://adalab.es/" class="li">Niño/a</a></li>
                 <li><a href="https://adalab.es/" class="li">Destacados</a></li>
                  <li><a href="https://adalab.es/" class="li">Tips</a></li>

            </ul>
        </nav>
     </section>

     <section class="footer__sectiontwo">
        <nav class="footer__sectiontwo--nav">
            <ul>
                <li><a href="https://adalab.es/" class="li">Twitter</a></li>
                 <li><a href="https://adalab.es/" class="li">Instagram</a></li>
                 <li><a href="https://adalab.es/" class="li">Youtube</a></li>
            </ul>
        </nav>
   </section>

    <section class="footer__sectionthree">
        <p class="footer__sectionthree--text">&copy; 2023</p>
        <p class="footer__sectionthree--text">we <span class="icon"><i class="fa-solid fa-heart"></i></span>
            run</p>
        <p> 
    </section>
    </section>
</footer>