<footer class="footer">
       <a class="footer__arrow" href="#inicio"></a></div>
    <nav class="footer__nav">
        <ul>
            <li class="footer__nav--li">Zapatillas</li>
            <li class="footer__nav--li">Ropa</li>
            <li class="footer__nav--li">Niño/a</li>
            <li class="footer__nav--li">Destacados</li>
            <li class="footer__nav--li">tips</li>
        </ul>
    </nav>

    <nav class="footer__nav">
        <ul>
            <li class="footer__nav--li">Twitter</a></li>
            <li class="footer__nav--li">Instagram</li>
            <li class="footer__nav--li">Youtube</li>
        </ul>
    </nav>

    <section class="footer__section">
        <p class="footer__section--text">&copy; 2023</p>
        <p class="footer__section--text">we <span>❤︎</span> run</p>
    </section>
</footer>