<div class="container">
    <a class="arrow" href="#inicio"></a>
</div>

<footer class="footer">
  <section class="footer__section">
        <nav>
            <ul>
                <li><a href="https://adalab.es/" class="footer__section--li">Zapatillas</a></li>
                 <li><a href="https://adalab.es/" class="footer__section--li">Ropa</a></li>
                 <li><a href="https://adalab.es/" class="footer__section--li">Niño/a</a></li>
                 <li><a href="https://adalab.es/" class="footer__section--li">Destacados</a></li>
                  <li><a href="https://adalab.es/" class="footer__section--li">Tips</a></li>

            </ul>
        </nav>
     
        <nav class="footer__section--nav">
            <ul>
                <li><a href="https://adalab.es/" class="footer__section--li">Twitter</a></li>
                 <li><a href="https://adalab.es/" class="footer__section--li">Instagram</a></li>
                 <li><a href="https://adalab.es/" class="footer__section--li">Youtube</a></li>
            </ul>
        </nav>
   </section>

    <section class="footer__sectiontwo">
        <p class="footer__sectiontwo--text">&copy; 2023</p>
        <p class="footer__sectiontwo--text">we <span class="icon"><i class="fa-solid fa-heart"></i></span>
            run</p>
        <p> 
    </section>
    </section>
</footer>