<main class="main">
    <section class="main__hero" id="inicio">
        
        <h1 class="main__hero--title">Hasta un 50% de descuento</h1>
        <p class="main__hero--text">
            Ya están aquí las ofertas de fin de temporada</p>

        <a class="main__hero--button" href="#sectiontwo"></a>
        
    </section>

    <section class="section">
        <h3 class="section__title--small">Lo sentimos nos inspiran</h3>
        <h2 class="section__title">Conecta Contigo</h2>
        <p class="section__text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>

        <a class="section__button" href="http://https://adalab.es/">Comprar</a>

    </section>

    <section class="sectiontwo" id="sectiontwo">

        <h2 class="sectiontwo__title">Año nuevo, movimientos nuevos</h2>

        <article class="sectiontwo__article">
            <h3 class="sectiontwo__article--title">Entrenamientos</h3>
            <p class="sectiotwo__article--text">Sesiones de running y entrenamientos.</p>
        </article>

         <article class="sectiontwo__article">
            <h3 class="sectiontwo__article--title">Cualquier nivel</h3>
            <p class="sectiotwo__article--text">Entrenamientos para cada nivel.</p>
        </article>

         <article class="sectiontwo__article">
            <h3 class="sectiontwo__article--title">Exclusividad</h3>
            <p class="sectiotwo__article--text">Productos para miembro premium.</p>
        </article>

        <a class="sectiontwo__button" href="http://https://adalab.es/">Empezar ahora</a>


        <a class="sectiontwo__arroww" href="#inicio">--</a></div>

    </section>
</main>