<main class="main">

    <section class="main__hero">
        <img src="./assets/images/cover.jpeg" alt="" class="main__hero--img">
        <h1 class="main__hero--title">Hasta un 50% de descuento</h1>
        <p class="main__hero--text">Ya están aquí las ofertas de fin de temporada</p>
        <div class="main__hero--button"> 
            <img src="" alt="">
            <a href="http://https://adalab.es/"></a>
        </div>
    </section>


    <section class="section">
        <h3 class="sectio__title--small">Lo sentimos nos inspiran</h3>
        <h2 class="section__title">Conecta Contigo</h2>
        <p class="section__text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
        <div>Comprar</div>
    </section>

    <section class="sectiontwo">

        <h2 class="sectiontwo__title">Año nuevo, movimientos nuevos</h2>

        <article class="sectiontwo__article">
            <h3 class="sectiontwo__article--title"></h3>
            <p class="sectiotwo__article--text"></p>
        </article>

         <article class="sectiontwo__article">
            <h3 class="sectiontwo__article--title"></h3>
            <p class="sectiotwo__article--text"></p>
        </article>

         <article class="sectiontwo__article">
            <h3 class="sectiontwo__article--title"></h3>
            <p class="sectiotwo__article--text"></p>
        </article>

        <div>Empezar ahora</div>
        <div>
            <img src="" alt="">
        </div>
    </section>





</main>