// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto Slab',serif;

// colors
$color-orange: #f26002;
$color-darkgrey: #4a4a4a;
$color-lightgrey: #979797;
$color-white: #ffffff;


