.header {
    background-color: $color-orange;
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    @media all and (min-width: 768px) {
        width: 4.6rem;
         height: 4.4rem;
    }
    
}
