.main{
    &__hero { 
        width: 100vw;
        height: 100vh;
        background-image: url("../images/cover.jpeg");
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        &--title{
            font-family: $font-title;
            font-weight: 700;
            color: white;
            font-size: 3rem;
            text-transform: uppercase;
            line-height: 5rem;
            max-width: 30rem;

            @media all and (min-width: 768px) {
                font-size: 7.5rem;
                line-height: 10rem;
                max-width: 70rem;
            }

        
            @media all and (min-width: 1270px) {
                            text-align: center;
                            font-size: 10rem;
                            max-width: 90rem;
                            line-height: 13.2rem;
                         }



        
        }

        &--text{
            color: white;
            font-weight: 100;
            font-size: 1.6rem;
            line-height: 1.9rem;

            @media all and (min-width: 768px) {
                    font-size: 2.4rem;
                    width: 34rem;
                    line-height: 2.8rem;
                    
                }

                     @media all and (min-width: 1270px) {
                        text-align: center;
                        width: 90rem;
                        margin-bottom: 1rem;
                        
                                 }
        }

        &--button {
            background-color: white;
            background-image: url("../images/ico-scroll-down.svg");
            background-repeat: no-repeat;
            background-size: 2rem;
            background-position: center;
            width: 37.9px;
            height: 35.7px;
            border-radius: 50%;
            margin: 1rem auto 5rem auto;
        }
    }
}
