
.section {
    height: 35.5rem;
    margin: 0 1.2rem 0 1.8rem;

    @media all and (min-width: 768px) {
        margin: 0 3.7rem 0 3.9rem;
        height: 33rem;
    }

          @media all and (min-width: 1270px) {
                height: 36rem;
                margin: 5.8rem 13.6rem 0 27.5rem;
                        
         }

    &__title--small {
            color: $color-orange;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 3.4rem 0 1rem 0;

            @media all and (min-width: 768px) {
                    font-size: 1.6rem;
                    margin: 3.7rem 0 2rem 0;
                }
        }

    &__title {
        font-family: $font-title;
        font-size: 2.4rem;
        font-weight: 600;
        margin: 1rem 0 1rem 0;

        @media all and (min-width: 768px) {
                font-size: 3.2rem;
                margin: 1rem 0 2rem 0;
            }
        
    }
    &__text {
        margin: 0 3px 0 0px;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.5;
        color: $color-darkgrey;
        margin: 10px 2px 30px 0;
        
        @media all and (min-width: 768px) {
                font-size: 2rem;
            }

                          @media all and (min-width: 1270px) {
                            line-height: 3rem;
                            max-width: 90rem;
                            margin-bottom: 4rem;
            
                          }
    }

    &__button {
        color: $color-orange; 
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 22.5px;
        border: solid 3px $color-orange ;
        padding: 5px 30px;
        background-color: white;
        transition: background-color 0.9s;

            &:hover {
                background-color: $color-orange;
                color: white;
            }
    }

}