.sectiontwo {
    background-color: #f2f2f2;
    height: 62.4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    
    @media all and (min-width: 768px) {
        height: 40rem;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }


                 @media all and (min-width: 1270px) {
                     height: 43rem;
        
                 }

    &__title{
        font-weight: bold;
        font-size: 2rem;
        width: 20rem;
        margin: 2.9rem auto 0 auto;
        font-family: $font-title;

        @media all and (min-width: 768px) {
            grid-column: 1/5;
            font-size: 2.8rem;
            width: 70rem;
            margin: auto auto;
        }

                 @media all and (min-width: 1270px) {
                    font-size: 3.2rem;
        
                 }
    }

    &__article {
        width: 20rem;
        margin: 1rem auto 0 auto;
        
        @media all and (min-width: 1270px) {
                min-width: 40rem;
        
            }
    
        &--title{
            font-family: $font-title;
            font-weight: bold;
            font-size: 1.8rem;

            @media all and (min-width: 768px) {
                font-size: 2.4rem;
            }

                        @media all and (min-width: 1270px) {
                           margin-bottom: 3rem;
            
                        }
        }

        &--text {
            font-size: 1.8rem;
            margin-top: 1rem;

            @media all and (min-width: 768px) {
                    font-size: 2rem;
                }
        }
       
    }

    &__button {
        margin: 1rem auto 0 auto;
       text-decoration: none;
       color: white;
       font-size: 2rem;
       border-radius: 22.5px;
       background-color: $color-orange;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 18.4rem;
       height: 4.5rem;

        @media all and (min-width: 768px) {
                grid-column: span 3;
               
            }
    }
}
